@font-face{font-family:'pf_beausans_prosemibold';src:url('pfbeausanspro-semibold.eot');src:url('pfbeausanspro-semibold.eot?#iefix') format('embedded-opentype'),
url('pfbeausanspro-semibold.woff2') format('woff2'),
url('pfbeausanspro-semibold.woff') format('woff'),
url('pfbeausanspro-semibold.ttf') format('truetype'),
url('pfbeausanspro-semibold.svg#pf_beausans_prosemibold') format('svg');font-weight:normal;font-style:normal;}